#identity-section {
    margin: 0px;
    padding: 0px;
    height: 175vh;
    width: 100%;
}

.identity-gradient-container {
    margin: 0px;
    padding: 0px;
    height: inherit;
    width: inherit;
    background: linear-gradient(#2B063B, #3D5CF8); 

}

.identity-container {
    margin: 0px;
    padding: 0px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}


.statue-container, .pillars-container {
    margin: 10vh 0 10vh 0;
    padding: 0px;
    width: 100vw;
}

.statue-wrapper {
    position: relative;
    width: 75vw;
    margin: 0 auto 0 auto;
}

.statue {
    margin: 0px;
    padding: 0px;
    width: 70vw;
    /* z-index works, just remember to set position to something else like relative */
    z-index: 2;
    position: relative;
}

.statue-ellipse {
  position: absolute;
  border-radius: 50%;
  margin-top: 40vh;
  z-index: 1;
}

.statue-ellipse-1 {
  background-color: rgba(57, 217, 253, 0.5);
  width: 75vw;
  height: 14vh;
  transform: rotate(30deg);

}

.statue-ellipse-2 {
  background-color: rgba(216, 73, 238, 0.5);
  width: 80vw;
  height: 16vh;
  transform: rotate(160deg);
}


.pillar {
    margin: 3vh 5vw;
    padding: 0px;
}


.pillar-image {
    width: 30vw;
    z-index: 1;
}

.pillar-left, .pillar-right {
    text-align: center;
}

.title, .information {
    padding: 1vh 3vw;
    background-color: rgba(216, 73, 238, 0.5);
    border-radius: 25px;
    position: absolute;
    z-index: 2;
}

@media only screen and (min-width: 850px) {
    #identity-section {
        height: 115vh;
    }
    .identity-container {
        flex-direction: row;
    }
    .statue-container, .pillars-container {
        width: 50vw;
    }
    .statue-container {
        margin-top: 10vh;
    }
    .statue, .information-pillar {
        width: 45vw;
    }
    .statue-ellipse {
        margin-top: 50vh;
        width: 50vw;
    }
    .statue-ellipse-1 {
        height: 14vh;
    }

    .statue-ellipse-2 {
        height: 16vh;
    }
    .pillar-image {
        width: 20vw;
    }
    .pillar-right {
        text-align: right;
    }

    .pillar-left {
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    #identity-section {
        height: 100vh;
    }
    .statue-container {
        margin-top: 5vh;
    }
    .statue {
        max-width: 480px;
        margin-left: 8vw;
    }
    .statue-ellipse {
        margin-top: 50vh;
        width: 47vw;
    }
    .statue-ellipse-1 {
        height: 20vh;
    }
    .statue-ellipse-2 {
        height: 22vh;
    }
    .pillar-image {
        width: 12vw;
    }
}
