#hero {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.hero-image-container {
    margin: 0px;
    padding: 0px;
    background-image: url("../../../assets/vaporwave_background.png");
    background-size: cover;
    height: inherit;
    width: inherit;
}

.name-and-titles-container {
    width: inherit;
    margin-top: 100px;
}

.name-and-titles {
    margin: auto;
    width: 65vw;
}

.greeting {
    font-size: 48px;
}