#hero {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

.hero-image-container {
    margin: 0px;
    padding: 0px;
    background-image: url("../../../assets/vaporwave_background.png");
    background-position: center center; 
    background-repeat:no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
}

.hero-container {
    padding-top: 15vh;
}

.name-and-titles-container {
    width: inherit;
    margin-top: 0px;
    text-align: center;
}

.greeting {
    font-size: 30px;
    margin: 0px 10vw;
    padding: 0px;
    text-align: left;
}

.jay {
    font-size: 150px;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}

.name-and-roles {
    margin-top: 5vh;
}

.name, .roles {
    margin: 2.5vh 0px;
}

@media only screen and (min-width: 850px) {
    .hero-container {
        padding-top: 0vw;
    }

    .name-and-titles-container {
        margin-top: 100px;
    }

    .greeting {
        font-size: 48px;
    }
    
    .name-and-titles {
        margin: auto;
        width: 65vw;
    }
    
    .greeting {
        font-size: 48px;
        margin: 0px 0px 0px 10vw;
        padding: 0px;
        text-align: left;
    }
    
    .jay {
        font-size: 250px;
    }
    
    .name {
        font-size: 32px;
    }
    
    .roles {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1200px) {
    .jay {
        font-size: 300px;
    }
}