#navbar {
    margin: 0px;
    padding: 0px;
    width: inherit;
}

.navbar-items {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px 300px; 
}

.navbar-item {
    margin-top: 75px;
    font-size: 22px;
}

.navbar-item a {
    color: #efefef;
    text-decoration: none;
}

/* Tablet Styles */
@media (max-width: 1024px) {
    .navbar-container {
      margin: 0 100px;
    }
  
    .navbar-item {
      font-size: 18px;
      margin-top: 60px;
    }
  
    .navbar-items {
      gap: 15px;
    }
  }
  
  /* Phone Styles */
  @media (max-width: 768px) {
  
    .navbar-item {
      margin: 10px 0;
      font-size: 18px;
    }
  }